__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pyc


venv/
env/
ENV/
.venv/

.ipynb_checkpoints/
*.ipynb_checkpoints
*.nbconvert.ipynb

*.nb.html
*.nb.py

.vscode/
.idea/

*.log

.DS_Store
Thumbs.db

model/news_classifier_model/
*.safetensors
*.bin
*.zip